body {
  
  background: rgba(0,0,0,0.7);
  color: black;
}

.app {
  width: 450px;
  margin: 0 auto;
  padding-top: 50px;
}


.global-text {
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
    clip-path: inset(0px 0px 99.9% 99.9%);
    overflow: hidden;
    height: 1px;
    width: 1px;
    padding: 0;
    border: 0;
    top: 50%;
}

.gn-blur {
    display: none;
}